html {
  padding: 0;
  margin: 0;
  background-color: white;
  height: 100vh;
  width: 100vw;
}

#passwordGenerator {
  margin: 5%;
  height: 400px;
  border-radius: 5px;
  background-color: #DDD;
  font-family: serif;
  text-align: center;
}

div {
  word-wrap: break-word;
  height: auto;
  text-align: center;
  line-height: 50px;
}
output {
  line-height: 100px;
  font-size: 200%;
  height: auto;
  background-color: #EEE;
}


#mocha {
  text-align: left;
  margin: 5%;
  height: auto;
  border-radius: 5px;
  background-color: #DDD;
  overflow-wrap: break-word;
}
#mocha-stats {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content:space-around;
  padding: 1em;
}
#mocha ul {
  list-style-type: none;
}
